{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Controls</title>
        <script type="text/javascript" src="{% static "jquery.js" %}"></script>

        <script type="text/javascript">
        $(function() {
           	$("#fade").click(function() {
           		console.log("FADE");
        		$.get('/scoring/setstatus/fade');
        	});

        	$("#podium").click(function() {
        		console.log("PODIUM");
        		$.get('/scoring/setstatus/podium');
        	});

        	$("#rank").click(function() {
        		console.log("RANK");
        		$.get('/scoring/setstatus/rank');
        	});
        })
        </script>
    </head>
    <body>
		<h1>Update Screen</h1>

		<button id="fade">Fade to Black</button>
		<button id="podium">Show/Refresh Podium</button>
		<button id="rank">Show/Refresh Ranks</button>
	</body>
</html>
