{# Template originally by Alan Egan #}
<div id="site">
	<div id="title">
		<font color="#ffffff">{{ quiz_name }}</font>&nbsp;&nbsp;
		<font color="#8e8e8e">{{ current_round }}</font>
	</div>
	<div id="rest" class="nonpodium">
	{% for team in teams %}
		<font color="#777777" style="font-style:italic">{{ team.position_web | safe }}&nbsp;&nbsp;
			</font><font color="#ffffff">{{ team.name | truncatechars:25 }}</font>&nbsp;&nbsp;
			<div style="display:inline-block"><font color="#bbbbbb" style="font-style:italic">{{ team.score }} Point{% if team.score > 1 or team.score == 0 %}s{% endif %}</font>
			&nbsp;{% if team.used_joker %}<font color="#ffc800">J</font>{% endif %}</div><hr>
	{% endfor %}
		<div id="spacer">
		</div>	
	</div>	
</div>
